* {
    box-sizing: border-box;
}

html {
    font-family: "Montserrat";
    font-size: large;
}

nav {
    padding: 1rem;
    background-color: rgb(20, 55, 14);
    font-family: "Montserrat";
}

.nav-link {
    color: #CCE8C8;
    text-decoration: none;
    margin-right: 1rem;
}

.nav-link:hover {
    color: #9A3412;
}

.nav-link:focus {
    color: #c76342;
}
.template-page {
    min-height: 100vh;
}

.container {
    padding-top: 20px;
    font-family: "Montserrat";
}

.circle-image {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid #CCE8C8;
    object-fit: cover;
}

.custom-toggler.navbar-toggler {
    border-color: #CCE8C8;
}

/* Setting the stroke to green using rgb values (0, 128, 0) */

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath stroke='rgba(204, 232, 200, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24' /%3E%3C/svg%3E");
}